:root {
  --manrope: "Manrope", sans-serif;
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  background-color: var(--dark-blue);
}

.advice-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.advice-content {
  background-color: var(--dark-grayish-blue);
  font-family: var(--manrope);
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  border-radius: 20px;
}

.advice-title {
  text-transform: uppercase;
  color: var(--neon-green);
  font-size: 14px;
  letter-spacing: 5px;
}

.advice-quote {
  font-size: 28px;
  line-height: 1.5em;
  padding-bottom: 30px;
  color: var(--light-cyan);
}

.advice-button {
  background-color: var(--neon-green);
  border-radius: 40px;
  margin-top: 40px;
  margin-bottom: -80px;
  padding: 20px;
}

.advice-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--neon-green);
  cursor: pointer;
}

/* Footer styling */

.attribution {
  color: hsl(360, 100%, 100%);
  font-size: 11px;
  margin-top: 80px;
}
.attribution a {
  color: hsl(360, 100%, 100%);
}

@media screen and (max-width: 576px) {
  .advice-content {
    max-width: 90%;
  }

  .advice-quote {
    font-size: 20px;
  }
}
